<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- カレンダー -->
    <link rel="stylesheet" href="pulic/calendar.css">
    <script src="js/calendar.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- カレンダー -->
    <div class="wrapper">
        <!-- xxxx年xx月を表示  -->
        <h1 id="header"></h1>
    
        <!-- ボタンクリックで月移動  -->
        <div id="next-prev-button">
            <button id="prev" onclick="prev()">‹</button>
            <button id="next" onclick="next()">›</button>
        </div>
    
        
        <div id="calendar"></div>
    
        <script>
            console.log('hello')
        </script>
    </div> 
</body>
</html>
